.cover{
    width: 100%;
    display: flex;
    .items{
        display: flex;
        flex: 1;
        justify-content: flex-start;
        width: 100%;
        border-right: solid 1px rgb(201, 192, 192);
    }
    .actions{
        display: none;
  
    }
    .manualTime{
        display: block;
        width: 20%;
        margin: auto;
        .timeText{
            margin: 0px 8px 0px 0px;
            font-weight: bold;
            color: #C4B454;

        }
        
    }
 
  
}
.everHourManualTime{
    display: block;
    width: 20%;
    margin: auto;
    font-weight: bold;
    color: rgb(81, 74, 74);
}

.cover:hover {
    .actions{
    display: block;
    width: 20%;
    margin: 8% auto;
    }
    .manualTime{
        display: none;
    }
}