.outCover{
.Board{
    width: 90%;
    height: 495Px;
    background-color: #F0FFFF;
    margin: 5px auto 20px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
    border: solid 2px #32527b;
    overflow-y: hidden;
    position: relative;

}
.Board:hover{
    overflow-y: scroll;
}
.addEdit{
    width: 87%;
    height: 495Px;
    margin: 5px auto 20px auto;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 4;
    top:265px;
    left: 6.5%;

    .dropIsland{
        width:30%;
        height: 60%;
        background-color: #F0FFFF;
        margin:4% auto;

    }

}

}
.custom {
    .ant-collapse-content-box {
      padding: 0;
      background-color: aquamarine;
     }
  }